body {
  margin: 0;
  padding: 40px 20px 20px;
  text-align: center;
  background-image: url(../img/top1.png);
  background-size: cover;
  background-position: center;
}

/* タイトル */
.title-area {
  margin-top: 100px;
  color: rgb(29, 63, 122);
}

.title-area h1 {
  font-size: 45px;
}

.title-area p {
  font-size: 25px;
}

/* フォーム */
form {
  margin-top: 50px;
}

.input-area {
  width: 600px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(73, 140, 255);
  color: rgb(140, 161, 228);
  font-size: 18px;
  margin-bottom: 50px;
}

input {
  height: 45px;
}

input::placeholder {
  color: rgb(140, 161, 228);
}

textarea::placeholder {
  color: rgb(140, 161, 228);
}

/* 送信ボタン */
form .submit {
  height: 50px;
  background: rgb(28, 109, 249);
  opacity: 0.8;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
}

form .submit:hover {
  background: rgb(73, 140, 255);
  cursor: pointer;
}

/* 編集完了画面（edit_done）で使用 */
.text-area {
  width: 40%;
  background: rgb(73, 140, 255);
  opacity: 0.7;
  margin: 100px auto 0 auto;
  padding: 30px;
  border-radius: 5%;
  background: rgb(73, 140, 255);
  font-size: 28px;
}

/* メイン画面 */
.main-page-title {
  color: rgb(29, 63, 122);
}
.table-background {
  background: rgba(255, 255, 255, 0.5);
  margin: 20px;
}
.col-todo-id {
  width: 80px;
}
.col-todo-datetime {
  width: 200px;
}
.col-todo-edit,
.col-todo-delete {
  width: 60px;
}
.btn-area {
  display: flex;
  margin: 0 20px;
}
.create-btn-area {
  width: 100%;
  text-align: left;
}
.logout-btn-area {
  width: 100%;
  text-align: right;
}
